image:
  tag: "9.5.2"
extraLabels:
  v4m.sas.com/tenant: __TENANT__
readinessProbe: null
livenessProbe: null
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard-__TENANT__
  datasources:
    enabled: true
    label: grafana_datasource-__TENANT__
  image:
    registry: quay.io
    repository: kiwigrid/k8s-sidecar
    tag: 1.24.0
deploymentStrategy:
  type: Recreate
persistence:
  type: pvc
  enabled: true
  # Provide custom storageClassName here if needed
  # storageClassName: nfs-client
  finalizers:
    - kubernetes.io/pvc-protection
  accessModes:
    - ReadWriteOnce
  size: 5Gi
initChownData:
  enabled: false
# Set to null to disable securityContext for OpenShift
securityContext: null
serviceAccount:
  # Service account created prior to helm install since the token is needed
  # above in the datasource configuration
  name: grafana-serviceaccount-__TENANT__
serviceMonitor:
  enabled: true
testFramework:
  enabled: false
"grafana.ini":
  server:
    http_addr: 0.0.0.0
    http_port: 3000
  dashboards:
    default_home_dashboard_path: /tmp/dashboards/cas-dashboard.json
  analytics:
    check_for_updates: false
  log:
    mode: console
  "log.console":
      format: json
