apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
    self-monitor: "true"
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: prometheus
    prometheus: v4m-prometheus-__TENANT__
  sessionAffinity: None
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  endpoints:
  - path: /metrics
    port: web
    scheme: https
    tlsConfig:
      insecureSkipVerify: true
  selector:
    matchLabels:
      app.kubernetes.io/instance: v4m-prometheus-__TENANT__
      self-monitor: "true"
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  additionalScrapeConfigs:
    name: prometheus-federate-__TENANT__
    key: cluster-federate-job
  image: quay.io/prometheus/prometheus:v2.40.7
  enableAdminAPI: false
  listenLocal: false
  logFormat: json
  logLevel: info
  paused: false
  portName: web
  replicas: 1
  retention: 3d
  retentionSize: 5GiB
  routePrefix: /
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: v4m-prometheus-__TENANT__
  serviceMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__ 
  podMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  ruleSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  version: v2.40.7
