# Place overrides for the Prometheus Operator Helm Chart Here

# Prometheus Operator Helm Chart
# https://github.com/helm/charts/blob/master/stable/prometheus-operator/README.md
#
# CRDs
# https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md
#
# Default Values
# https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml

# Sample ingress configuration
# NOTE: Edit hostnames and ingress port

prometheus:
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
    - host.mycluster.example.com
    paths:
    - /prometheus
  prometheusSpec:
    routePrefix: /prometheus
    externalUrl: http://host.mycluster.example.com/prometheus
    storageSpec:
      volumeClaimTemplate:
        spec:
         storageClassName: azuredisk-v4m

alertmanager:
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
    - host.mycluster.example.com
    paths:
    - /alertmanager
  alertmanagerSpec:
    routePrefix: /alertmanager
    externalUrl: http://host.mycluster.example.com/alertmanager    
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: azuredisk-v4m

grafana:
  "grafana.ini":
    server:
      protocol: http
      domain: host.mycluster.example.com
      root_url: http://host.mycluster.example.com/grafana
      serve_from_sub_path: true
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    hosts:
    - host.mycluster.example.com
    path: /grafana
  testFramework:
    enabled: false
  persistence:
    storageClassName: azuredisk-v4m
