## NOTE: All image.* and imagePullSecrets keys now derived from environment variables and generated at run-time (do not set here)
###image:
###  repository: foo
###  tag: foo
###  pullPolicy
###imagePullSecrets

opensearchHosts: "https://v4m-search:9200"

extraEnvs:
- name: OSD_ENABLE_TLS
  valueFrom:
    secretKeyRef: 
      name: v4m-osd-tls-enabled
      key: enable_tls
- name: OPENSEARCH_USERNAME
  valueFrom:
    secretKeyRef:
      name: internal-user-kibanaserver
      key: username
- name: OPENSEARCH_PASSWORD
  valueFrom:
    secretKeyRef:
      name: internal-user-kibanaserver
      key: password
extraVolumes:
- name: kibana-certs
  secret:
    secretName: kibana-tls-secret
- name: uuid-file
  emptyDir: {}

extraVolumeMounts:
- name: kibana-certs
  mountPath: "/usr/share/opensearchdashboards/certs/kibana-crt.pem"
  subPath: tls.crt
- name: kibana-certs
  mountPath: "/usr/share/opensearchdashboards/certs/kibana-key.pem"
  subPath: tls.key
- name: kibana-certs
  mountPath: "/usr/share/opensearchdashboards/certs/kibana-root-ca.pem"
  subPath: ca.crt
- name: uuid-file
  mountPath: "/usr/share/opensearch-dashboards/data/"
  subPath: uuid

config:
  opensearch_dashboards.yml: |
    server.name: kibana
    server.host: 0.0.0.0
    server.ssl.enabled: ${OSD_ENABLE_TLS}
    server.ssl.key: /usr/share/opensearchdashboards/certs/kibana-key.pem
    server.ssl.certificate: /usr/share/opensearchdashboards/certs/kibana-crt.pem

    opensearch.ssl.verificationMode: certificate
    opensearch.ssl.certificateAuthorities: /usr/share/opensearchdashboards/certs/kibana-root-ca.pem

    opensearch.username: ${OPENSEARCH_USERNAME}
    opensearch.password: ${OPENSEARCH_PASSWORD}

    opensearch_security.multitenancy.enabled: true
    opensearch_security.multitenancy.tenants.preferred: ["cluster_admins"]
    opensearch_security.multitenancy.tenants.enable_private: false
    opensearch_security.multitenancy.tenants.enable_global: false
    opensearch_security.readonly_mode.roles: ["kibana_read_only"]

    opensearch.requestHeadersWhitelist: ["securitytenant","Authorization"]

    # Disable OpenSearch Dashboards 3.x
    # features we are not currently
    # using and suppress splash screen
    ##data_source.enabled: false
    ##workspace.enabled: false
    ##explore.enabled: false

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  privileged: false

podSecurityContext:
  seccompProfile: 
    type: RuntimeDefault

startupProbe:
  # OSD can take 2+ minutes
  # to start on slow clusters
  initialDelaySeconds: 60
  periodSeconds: 20
  failureThreshold: 30
