image:
  tag: "9.3.1"
service:
  type: ClusterIP
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
  datasources:
    enabled: true
    label: grafana_datasource
persistence:
  type: pvc
  enabled: true
  # storageClassName: nfs-client
  accessModes:
    - ReadWriteOnce
  size: 5Gi
  # annotations: {}
  finalizers:
    - kubernetes.io/pvc-protection
  # subPath: ""
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus:9090
      access: proxy
      isDefault: true
"grafana.ini":
  analytics:
    check_for_updates: false
  log:
    mode: console
  "log.console":
      format: json
