apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
    self-monitor: "true"
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 443
    protocol: TCP
    targetPort: 443
  selector:
    app: prometheus
    prometheus: v4m-prometheus-__TENANT__
  sessionAffinity: None
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  endpoints:
  - path: /metrics
    port: web
  selector:
    matchLabels:
      app: prometheus
      self-monitor: "true"
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  listenLocal: true
  containers:
  # Add square/ghosttunnel TLS proxy
  - name: tls-proxy
    args:
    - server
    - --listen=:443
    - --target=127.0.0.1:9090
    - --key=/cert/tls.key
    - --cert=/cert/tls.crt
    - --disable-authentication
    image: ghostunnel/ghostunnel:v1.7.1
    imagePullPolicy: IfNotPresent
    ports:
    - name: https
      containerPort: 443 
      protocol: TCP
    resources: {}
    securityContext:
      #allowPrivilegeEscalation: true
      # privileged: true
      readOnlyRootFilesystem: true
      # runAsUser: 0
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /cert
      name: tls-proxy-secret
      readOnly: true
  additionalScrapeConfigs:
    name: prometheus-federate-__TENANT__
    key: cluster-federate-job
  image: quay.io/prometheus/prometheus:v2.44.0
  # alerting:
  #   alertmanagers:
  #   - apiVersion: v2
  #     name: prometheus-operator-alertmanager
  #     namespace: __MON_NS__
  #     pathPrefix: /
  #     port: web
  enableAdminAPI: false
  logFormat: json
  logLevel: info
  paused: false
  portName: web
  replicas: 1
  retention: 3d
  retentionSize: 5GiB
  routePrefix: /
  securityContext:
    runAsNonRoot: false
  volumes:
    - name: tls-proxy-secret
      secret:
        defaultMode: 420
        secretName: v4m-prometheus-__TENANT__-tls-secret
  serviceAccountName: v4m-prometheus-__TENANT__
  serviceMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__ 
  podMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  ruleSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  version: v2.44.0
