# Chart:  https://github.com/fluent/helm-charts/blob/fluent-bit-0.30.4/charts/fluent-bit
# Default values: https://github.com/fluent/helm-charts/blob/fluent-bit-0.30.4/charts/fluent-bit/values.yaml


## NOTE: All image.* and imagePullSecrets keys now derived from environment variables and generated at run-time (do not set here)
###image:
###  repository: foo
###  pullPolicy: foo
###  tag: foo
###imagePullSecrets: foo

podAnnotations: 
  fluentbit.io/parser: fluentbit
podLabels:
  fbout: azuremonitor
#backend:
  #currently ignored/overwritten by configmap
  #type: azure
  #customer_id:  NOT_SET
  #shared_key: NOT_SET
metrics:
  enabled: true
  service:
    port: 2020
  serviceMonitor:
    enabled: false
extraVolumeMounts:
- mountPath: /fluent-bit/etc/viya-parsers.conf
  name: parsers-config
  subPath: viya-parsers.conf
- mountPath: /fluent-bit/etc/viya-tracing.conf
  name: tracing-config
  subPath: viya-tracing.conf
extraVolumes:
- configMap:
    defaultMode: 420
    name: fbaz-viya-parsers
  name: parsers-config
- configMap:
    defaultMode: 420
    name: fbaz-viya-tracing
  name: tracing-config
fullConfigMap: false
existingConfigMap: fbaz-fluent-bit-config

env:
   - name: AZMONITOR_CUSTOMER_ID
     valueFrom:
       secretKeyRef:
         name: connection-info-azmonitor
         key: customer_id
   - name: AZMONITOR_SHARED_KEY
     valueFrom:
       secretKeyRef:
         name: connection-info-azmonitor
         key: shared_key
envFrom:
   - configMapRef:
        name: fbaz-env-vars

# Be very tolerant
tolerations:
- operator: "Exists"

resources:
#   limits:
#     cpu: 100m
#     memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault
