apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
  name: v4m-prometheus-__TENANT__
spec:
  endpoints:
  - path: /metrics
    port: web
  selector:
    matchLabels:
      app: prometheus
      v4m.sas.com/tenant: __TENANT__
      self-monitor: "true"
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app: prometheus
    v4m.sas.com/tenant: __TENANT__
    self-monitor: "true"
  name: v4m-prometheus-__TENANT__
spec:
  listenLocal: true
  containers:
  # Add square/ghosttunnel TLS proxy
  - name: tls-proxy
    args:
    - server
    - --listen=:9191
    - --target=127.0.0.1:9090
    - --key=/cert/tls.key
    - --cert=/cert/tls.crt
    - --disable-authentication
    image: ghostunnel/ghostunnel:v1.7.1
    imagePullPolicy: IfNotPresent
    ports:
    - name: https
      containerPort: 9191 
      protocol: TCP
    resources: {}
    securityContext:
      readOnlyRootFilesystem: true
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /cert
      name: secret-prometheus-tls
      readOnly: true
  volumes:
  - name: secret-prometheus-tls
    secret:
      defaultMode: 420
      secretName: v4m-prometheus-__TENANT__-tls-secret
  - name: prometheus-trusted-ca-bundle
    configMap:
      defaultMode: 420
      items:
      - key: ca-bundle.crt
        path: tls-ca-bundle.pem
      name: trusted-ca-bundle-__TENANT__
      optional: true
  additionalScrapeConfigs:
    name: prometheus-federate-__TENANT__
    key: cluster-federate-job
  image: quay.io/prometheus/prometheus:v2.44.0
  enableAdminAPI: false
  logFormat: json
  logLevel: info
  paused: false
  portName: web
  replicas: 1
  retention: 3d
  retentionSize: 5GiB
  routePrefix: /
  securityContext:
    runAsNonRoot: false
  serviceAccountName: prometheus-k8s
  serviceMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__ 
  podMonitorSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  ruleSelector:
    matchLabels:
      v4m.sas.com/tenant: __TENANT__
  version: v2.44.0
