## Sample: ingress/host-based-ingress Version: 0.2.1


ingress:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: dashboards.host.cluster.example.com
      paths:
        - path: /
          backend:
            serviceName: v4m-osd
            servicePort: 5601
  tls:
    - secretName: kibana-ingress-tls-secret
      hosts:
        - dashboards.host.cluster.example.com
