extraEnvs:
# SERVER_BASEPATH needed for path-based ingress
- name: SERVER_BASEPATH
  value: /dashboards
# OSD_ENABLE_TLS, Username & password need to be set here since helm *replaces* array values
- name: OSD_ENABLE_TLS
  valueFrom:
    secretKeyRef:
      name: v4m-osd-tls-enabled
      key: enable_tls
- name: OPENSEARCH_USERNAME
  valueFrom:
    secretKeyRef:
      name: internal-user-kibanaserver
      key: username
- name: OPENSEARCH_PASSWORD
  valueFrom:
    secretKeyRef:
      name: internal-user-kibanaserver
      key: password
service:
  type: ClusterIP
  nodePort: null
ingress:
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite (?i)/dashboards/(.*) /$1 break;
      rewrite (?i)/dashboards$ / break;
    nginx.ingress.kubernetes.io/rewrite-target: /dashboards
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
  enabled: true
  hosts:
    - host: host.cluster.example.com
      paths:
        - path: /dashboards
          backend:
            serviceName: v4m-osd
            servicePort: 5601

